.courses {
  &__list {
    list-style: none;
  }

  .course {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.6s ease;
    cursor: pointer;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;

    @include break($medium) {
      height: 300px;
    }

    &__title {
      letter-spacing: 2px;
      text-transform: uppercase;
      cursor: pointer;
      text-align: center;
      width: 70%;
      background-color: rgba($color-primary, 0.8);
      padding: 2em 3em;
      transition: all 0.6s ease;
      color: #fff;

      a {
        color: #fff;
        font-size: 1rem;
        text-decoration: none;

        &:hover,
        &:active {
          text-decoration: none;
        }
      }
    }
  }

  .info {
    overflow: hidden;
    padding: 2rem;

    &__category {
      margin-bottom: 1rem;
      display: flex;
      justify-content: flex-end;
    }

    &__requirements,
    &__highlights {
      margin-bottom: 1rem;
      padding: 1rem;

      @include break(660px) {
        width: 50%;
      }

      &__title {
        color: $color-primary;
        font-family: $headings;
      }

      &__list {
        list-style: none;

        &__item {
          display: flex;
          align-items: center;
        }
      }

      &__price {
        background-color: $color-primary;
        padding: 1rem;
        color: $color-secondary;
        width: 200px;
        text-align: center;
        margin-top: 2rem;
      }
    }

    &__main {
      margin-bottom: 1rem;
      line-height: 1.4;
    }

    &__note {
      padding: 2rem;
      background: lighten($color-primary, 73%);
      width: 100%;
      color: $color-primary;
      border-radius: 4px;
      text-align: center;
      line-height: 1.4;

      .skype {
        background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 24 24' height='24px' width='24px' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath fill-rule='nonzero' d='M13.004 18.423a2 2 0 0 1 1.237.207 3.25 3.25 0 0 0 4.389-4.389 2 2 0 0 1-.207-1.237 6.5 6.5 0 0 0-7.427-7.427 2 2 0 0 1-1.237-.207A3.25 3.25 0 0 0 5.37 9.76a2 2 0 0 1 .207 1.237 6.5 6.5 0 0 0 7.427 7.427zM12 20.5a8.5 8.5 0 0 1-8.4-9.81 5.25 5.25 0 0 1 7.09-7.09 8.5 8.5 0 0 1 9.71 9.71 5.25 5.25 0 0 1-7.09 7.09c-.427.066-.865.1-1.31.1zm.053-3.5C9.25 17 8 15.62 8 14.586c0-.532.39-.902.928-.902 1.2 0 .887 1.725 3.125 1.725 1.143 0 1.776-.624 1.776-1.261 0-.384-.188-.808-.943-.996l-2.49-.623c-2.006-.504-2.37-1.592-2.37-2.612C8.026 7.797 10.018 7 11.89 7c1.72 0 3.756.956 3.756 2.228 0 .545-.48.863-1.012.863-1.023 0-.835-1.418-2.9-1.418-1.023 0-1.596.462-1.596 1.126 0 .663.803.876 1.502 1.035l1.836.409C15.49 11.695 16 12.876 16 13.989 16 15.713 14.675 17 12.015 17h.038z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 24px;
      }

      .email {
        background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 24 24' height='20px' width='20px' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 24px;
      }
    }

    .fle {
      display: flex;
      flex-direction: column;

      @include break(660px) {
        flex-direction: row;
      }
    }
  }
}
